﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebFormMasterPage.Master" AutoEventWireup="true" CodeBehind="dziennik.aspx.cs" Inherits="WebApplication1.dziennik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <br />PRZEPRASZAMY, DZIENNIK ELEKTRONICZNY JEST AKTUALNIE WYŁĄCZONY
</asp:Content>
