﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebFormMasterPage.Master" AutoEventWireup="true" CodeBehind="KontaktEndpage.aspx.cs" Inherits="WebApplication1.KontaktEndpage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
        Wiadomość została wysłana poprawnie.
        <br />
        Dziękujemy.

</asp:Content>
