﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebFormMasterPage.Master" AutoEventWireup="true" CodeBehind="rekrutacja.aspx.cs" Inherits="WebApplication1.rekrutacja" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <br />
        Rekrutacja do szkoły trwa!<br /> Kliknij przycisk, aby przejść do formularza rekrutacyjnego.
             <br />
        <br />
             <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Formularz" />

</asp:Content>
