﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebFormMasterPage.Master" AutoEventWireup="true" CodeBehind="rekt4.aspx.cs" Inherits="WebApplication1.rekt4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
           Dziękujemy za złożenie podania. W przypadku pozytywnego rozpatrzenia wstępnego wniosku skontaktujemy się drogą mailową.  
</asp:Content>
