﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebFormMasterPage.Master" AutoEventWireup="true" CodeBehind="rekt3.aspx.cs" Inherits="WebApplication1.rekt3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
            Aplikujący:
        <asp:Label ID="lbDane" runat="server"></asp:Label>
        &nbsp;
        <br />
        Adres e-mail:&nbsp;
        <asp:Label ID="lbEmail" runat="server"></asp:Label>
        <br />
        Profil:&nbsp;
        <asp:Label ID="lbKierunek" runat="server"></asp:Label>
        <br />
        Wyniki egzaminu gimnazjalnego:&nbsp;
        <asp:Label ID="lbAtuty" runat="server"></asp:Label>
          <br />
          <asp:Button ID="Button4" runat="server" OnClick="Button4_Click" Text="Dalej" /> 

</asp:Content>
