﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebFormMasterPage.Master" AutoEventWireup="true" CodeBehind="Strona glowna.aspx.cs" Inherits="WebApplication1.Strona_glowna" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

        <br />
        <img src="herb.png" alt=""/>        <br />
        LICEUM OGÓLNOKSZTAŁCĄCE<br />IM. MIKOŁAJA REJA <br /> W PROJEKTOWIE

</asp:Content>
