﻿body {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#strona {
    height: 100vh;
}

#naglowek {
    background-color: lightgray;
    font-size: 2em;
    text-align: center;
}


#zawartosc {
    text-align: center;
}

    #zawartosc::after {
        content: "";
        display: block;
        clear: both;
    }

#menu {
    background-color: gray;
    float: left;
    width: 12vw;
    padding: 0;
    height: 100vh;
}

#tresc {
    background-color: tan;
    padding: 0;
    height: 100vh;
    text-align: center;
    float: inherit;
}

#right{
    float: right;
}
#left{
    float: left;
}


#stopka {
    background-color: lightgray;
    font-size: 0.8em;
    text-align: center;
}

.error
{
    color:red;
}

.menu ul li {
    width: 10vw;
    height: 5vh;
    margin: 5px;
    display: block;
}

.menu a {
    background-color: lightgrey;
    color: black;
}

    .menu a.selected {
        background-color: lightsalmon;
        font-weight: bold;
    }

    .menu a:hover {
        background-color: wheat;
        color: black;
    }


